.row-head {
    border-bottom: 2px solid #333;
}

.row {
    cursor: pointer;
    transition: .4s linear;
}

.row:hover {
    background-color: rgb(230, 230, 230);
}

.row:nth-child(2n) {
    background-color: gainsboro;
}

.row:nth-child(2n):hover {
    background-color: rgb(195, 195, 195);
}

.details {
    position: absolute;
    right: 0;
    padding: 2vmin;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(75, 57, 57, 0.614);
}
